@use "../colors/colors.scss" as *;
@use "sass:color";
@use "sass:math";


@function alert-bg($color) {
  $lightness: color.channel($color, "lightness", $space: hsl);

  @if $lightness < 50% {
    @return color.mix(white, $color, 80%);
  } @else {
    @return color.mix(white, $color, 60%);
  }
}

@function alert-text($bg-color) {
  $r: math.div(color.channel($bg-color, "red", $space: rgb), 255);
  $g: math.div(color.channel($bg-color, "green", $space: rgb), 255);
  $b: math.div(color.channel($bg-color, "blue", $space: rgb), 255);


  $luminance: 0.2126 * $r + 0.7152 * $g + 0.0722 * $b;

  @if $luminance > 0.6 {
    @return #212529; 
  } @else {
    @return #fff; 
  }
}


.alert {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  transition: background-color 0.2s, border-color 0.2s;

.alert-icon {
  display: flex;
  align-items: center;
  justify-content: center;   // center the content
  margin-right: 0.5rem;
  width: 1.5rem;             // fixed width for consistent layout
  height: 1.5rem;            // fixed height
  flex-shrink: 0;            // prevent shrinking
  line-height: 0;            // remove extra line height for inline SVGs/images

  // Optimize for SVGs and images inside
  svg, img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;     // scale proportionally
  }
}

.alert-close {
  position: relative;
  margin-left: auto;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }

  // Draw the X using pseudo-elements
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;          // thickness of the line
    height: 100%;         // span full height
    background-color: currentColor;
    transform-origin: center;
  }

  &::before {
    transform: translateX(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}

}

@each $name, $color in $colors {
  .alert-#{$name} {
    $bg: alert-bg($color);
    background-color: $bg;
    border-color: $color;
    color: alert-text($bg);
  }
}
