@mixin generate($map, $prefix, $property) {
    @each $name, $value in $map {
      .#{$prefix}-#{$name} {
        #{$property}: $value !important;
      }
    }
  }


$margins: (
  0: 0,
  1: 0.25rem, 
  2: 0.5rem,  
  3: 1rem,    
  4: 1.5rem,  
  5: 3rem,    
  default: auto
);

$paddings: (
  0: 0,
  1: 0.25rem, 
  2: 0.5rem,  
  3: 1rem,    
  4: 1.5rem,  
  5: 3rem,    
  default: auto
);


@include generate($margins,"m","margin");
@include generate($margins,"mt","margin-top");
@include generate($margins,"mb","margin-bottom");
@include generate($margins,"mr","margin-right");
@include generate($margins,"ml","margin-left");

@include generate($margins,"p","padding");
@include generate($margins,"pt","padding-top");
@include generate($margins,"pb","padding-bottom");
@include generate($margins,"pr","padding-right");
@include generate($margins,"pl","padding-left");



// Vertical margin (top + bottom)
@each $name, $value in $margins {
  .my-#{$name} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
}

// Horizontal margin (left + right)
@each $name, $value in $margins {
  .mx-#{$name} {
    margin-left: $value !important;
    margin-right: $value !important;
  }
}

// Vertical padding (top + bottom)
@each $name, $value in $paddings {
  .py-#{$name} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}

// Horizontal padding (left + right)
@each $name, $value in $paddings {
  .px-#{$name} {
    padding-left: $value !important;
    padding-right: $value !important;
  }
}
