//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&family=Open+Sans:wght@400;700&family=Inter:wght@400;700&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Lato:wght@400;700&family=Arimo:wght@400;700&family=Oswald:wght@400;700&family=Raleway:wght@400;700&family=Nunito:wght@400;700&family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;700&family=Ubuntu:wght@400;700&family=Mulish:wght@400;700&family=Archivo:wght@400;700&family=Quicksand:wght@400;700&family=Barlow:wght@400;700&family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Merriweather:wght@400;700&family=Tinos:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Cardo:wght@400;700&family=Sanchez:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton:wght@400;700&family=Bebas+Neue:wght@400;700&family=Dancing+Script:wght@400;700&family=Lobster+Two:wght@400;700&family=Changa+One:wght@400;700&family=Dosis:wght@400;700&family=Cabin:wght@400;700&family=Bitter:wght@400;700&family=Pacifico:wght@400;700&family=Bungee:wght@400;700&family=Oxygen:wght@400;700&family=Tajawal:wght@400;700&family=Urbanist:wght@400;700&family=Caveat:wght@400;700&family=Abel:wght@400;700&family=Orbitron:wght@400;700&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy:wght@400;700&family=Great+Vibes:wght@400;700&family=Fredoka:wght@400;700&family=Yellowtail:wght@400;700&family=JetBrains+Mono:wght@400;700&family=Rowdies:wght@400;700&family=Spectral:wght@400;700&family=Geist:wght@400;700&family=Geologica:wght@400;700&family=Lilex:wght@400;700&family=Permanent+Marker:wght@400;700&family=Onest:wght@400;700&family=Acme:wght@400;700&family=Cause:wght@400;700&family=Righteous:wght@400;700&family=Geom:wght@400;700&family=Buda:wght@400;700&family=Chivo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&family=Prata:wght@400;700&family=Courier+Prime:wght@400;700&family=Literata:wght@400;700&family=Creepster:wght@400;700&family=Viga:wght@400;700&family=Courgette:wght@400;700&family=Syne:wght@400;700&family=Cantarell:wght@400;700&family=Oleo+Script:wght@400;700&family=Passion+One:wght@400;700&family=Press+Start+2P:wght@400;700&family=Francois+One:wght@400;700&family=Philosopher:wght@400;700&family=Kaushan+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater:wght@400;700&family=Amaranth:wght@400;700&family=Paytone+One:wght@400;700&family=Golos+Text:wght@400;700&family=Epilogue:wght@400;700&family=Fira+Code:wght@400;700&family=Patrick+Hand:wght@400;700&family=Antonio:wght@400;700&family=Berkshire+Swash:wght@400;700&family=Forum:wght@400;700&family=Parisienne:wght@400;700&family=Italianno:wght@400;700&family=Jura:wght@400;700&family=Quantico:wght@400;700&family=Rock+Salt:wght@400;700&family=Neuton:wght@400;700&family=Tangerine:wght@400;700&family=Fugaz+One:wght@400;700&family=Cookie:wght@400;700&family=Petrona:wght@400;700&family=Gelasio:wght@400;700&family=Ultra:wght@400;700&family=Alice:wght@400;700&family=Monda:wght@400;700&family=Merienda:wght@400;700&family=Caveat+Brush:wght@400;700&family=Reenie+Beanie:wght@400;700&family=Pinyon+Script:wght@400;700&family=Vidaloka:wght@400;700&family=Share+Tech+Mono:wght@400;700&family=Cuprum:wght@400;700&family=Belanosima:wght@400;700&family=Pangolin:wght@400;700&family=Goldman:wght@400;700&family=Gabarito:wght@400;700&family=Bad+Script:wght@400;700&family=Sofia:wght@400;700&family=Michroma:wght@400;700&family=Ruda:wght@400;700&family=Tilt+Warp:wght@400;700&family=Yrsa:wght@400;700&family=Varela:wght@400;700&family=Damion:wght@400;700&family=Bevan:wght@400;700&family=Shrikhand:wght@400;700&family=Mr+Dafoe:wght@400;700&family=Marck+Script:wght@400;700&family=Cousine:wght@400;700&family=Chewy:wght@400;700&family=Besley:wght@400;700&family=Pirata+One:wght@400;700&family=Caprasimo:wght@400;700&family=Adamina:wght@400;700&family=Just+Another+Hand:wght@400;700&family=Livvic:wght@400;700&family=Kreon:wght@400;700&family=Coda:wght@400;700&family=Armata:wght@400;700&family=Italiana:wght@400;700&family=Rochester:wght@400;700&family=Andika:wght@400;700&family=Ovo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&family=Prata:wght@400;700&display=swap&family=Mogra:wght@400;700&family=Gruppo:wght@400;700&family=Sen:wght@400;700&family=Rufina:wght@400;700&family=Grandstander:wght@400;700&family=Allerta+Stencil:wght@400;700&family=Glory:wght@400;700&family=Overpass+Mono:wght@400;700&family=Aldrich:wght@400;700&family=Candal:wght@400;700&family=Limelight:wght@400;700&family=Protest+Revolution:wght@400;700&family=Corben:wght@400;700&family=Cabin+Sketch:wght@400;700&family=Murecho:wght@400;700&family=Fondamento:wght@400;700&family=Sintony:wght@400;700&family=Caudex:wght@400;700&family=Mate:wght@400;700&family=Nobile:wght@400;700&family=Silkscreen:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&family=UnifrakturMaguntia:wght@400;700&family=Share:wght@400;700&family=Graduate:wght@400;700&family=Herr+Von+Muellerhoff:wght@400;700&family=Bellefair:wght@400;700&family=Faster+One:wght@400;700&family=Grand+Hotel:wght@400;700&family=SUSE:wght@400;700&family=Anton+SC:wght@400;700&family=Oooh+Baby:wght@400;700&family=Knewave:wght@400;700&family=Petit+Formal+Script:wght@400;700&family=Hepta+Slab:wght@400;700&family=Allerta:wght@400;700&family=Overlock:wght@400;700&family=REM:wght@400;700&family=Croissant+One:wght@400;700&family=Honk:wght@400;700&family=Arizonia:wght@400;700&family=Yesteryear:wght@400;700&family=Agbalumo:wght@400;700&family=Schoolbell:wght@400;700&family=Licorice:wght@400;700&family=Wallpoet:wght@400;700&family=Kristi:wght@400;700&family=Fjord+One:wght@400;700&family=Seaweed+Script:wght@400;700&family=Rancho:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Bilbo&family=Ephesis&family=Festive&family=Hurricane&family=Kings&family=Lacquer&family=My+Soul&family=Offside&family=Ole&family=Pirata+One&family=Qwitcher+Grypen:wght@400;700&family=Smooch&family=Splash&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Dr+Sugiyama&family=Faster+One&family=Grape+Nuts&family=Grey+Qo&family=Marck+Script&family=Meie+Script&family=Molle:ital@1&family=Mr+Dafoe&family=Nosifer&family=Nova+Script&family=Oregano:ital@0;1&family=Pixelify+Sans:wght@400..700&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Bitcount:wght@100..900&family=Bonbon&family=Bruno+Ace&family=Capriola&family=Honk:MORF@15&family=Knewave&family=Lovers+Quarrel&family=Parisienne&family=Playwrite+MX:wght@100..400&family=Protest+Revolution&family=Rubik+Gemstones&family=Sarina&family=Snowburst+One&family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Bungee&family=Bungee+Shade&family=Bungee+Tint&family=Capriola&family=Coiny&family=Farsan&family=Ga+Maamli&family=Give+You+Glory&family=Henny+Penny&family=Mogra&family=Mynerve&family=Nerko+One&family=Short+Stack&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Bitcount+Ink:wght@100..900&family=Cutive+Mono&family=Domine:wght@400..700&family=Foldit:wght@100..900&family=Just+Another+Hand&family=Lavishly+Yours&family=Moon+Dance&family=Mr+Bedfort&family=Nabla&family=Permanent+Marker&family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Unkempt:wght@400;700&display=swap');

:root {
    --font-saira: 'Saira', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-arimo: 'Arimo', sans-serif;
    --font-oswald: 'Oswald', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
    --font-nunito-sans: 'Nunito Sans', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
    --font-ubuntu: 'Ubuntu', sans-serif;
    --font-mulish: 'Mulish', sans-serif;
    --font-archivo: 'Archivo', sans-serif;
    --font-quicksand: 'Quicksand', sans-serif;
    --font-barlow: 'Barlow', sans-serif;
    --font-titillium-web: 'Titillium Web', sans-serif;
    --font-roboto-slab: 'Roboto Slab', serif;
    --font-merriweather: 'Merriweather', serif;
    --font-tinos: 'Tinos', serif;
    --font-libre-baskerville: 'Libre Baskerville', serif;
    --font-cardo: 'Cardo', serif;
    --font-sanchez: 'Sanchez', serif;
    --font-anton: 'Anton', sans-serif;
    --font-bebas-neue: 'Bebas Neue', sans-serif;
    --font-dancing-script: 'Dancing Script', cursive;
    --font-lobster-two: 'Lobster Two', cursive;
    --font-changa-one: 'Changa One', sans-serif;
    --font-dosis: 'Dosis', sans-serif;
    --font-cabin: 'Cabin', sans-serif;
    --font-bitter: 'Bitter', serif;
    --font-pacifico: 'Pacifico', cursive;
    --font-bungee: 'Bungee', cursive;
    --font-oxygen: 'Oxygen', sans-serif;
    --font-tajawal: 'Tajawal', sans-serif;
    --font-urbanist: 'Urbanist', sans-serif;
    --font-caveat: 'Caveat', cursive;
    --font-abel: 'Abel', sans-serif;
    --font-orbitron: 'Orbitron', sans-serif;
    --font-play: 'Play', sans-serif;
    --font-satisfy: 'Satisfy', cursive;
    --font-great-vibes: 'Great Vibes', cursive;
    --font-fredoka: 'Fredoka', sans-serif;
    --font-yellowtail: 'Yellowtail', cursive;
    --font-jetbrains-mono: 'JetBrains Mono', monospace;
    --font-rowdies: 'Rowdies', cursive;
    --font-spectral: 'Spectral', serif;
    --font-geist: 'Geist', sans-serif;
    --font-geologica: 'Geologica', sans-serif;
    --font-lilex: 'Lilex', monospace;
    --font-permanent-marker: 'Permanent Marker', cursive;
    --font-onest: 'Onest', sans-serif;
    --font-acme: 'Acme', sans-serif;
    --font-cause: 'Cause', sans-serif;
    --font-righteous: 'Righteous', cursive;
    --font-geom: 'Geom', sans-serif;
    --font-buda: 'Buda', cursive;
    --font-chivo: 'Chivo', sans-serif;
    --font-unna: 'Unna', serif;
    --font-prata: 'Prata', serif;
    --font-courier-prime: 'Courier Prime', monospace;
    --font-literata: 'Literata', serif;
    --font-creepster: 'Creepster', cursive;
    --font-viga: 'Viga', sans-serif;
    --font-courgette: 'Courgette', cursive;
    --font-syne: 'Syne', sans-serif;
    --font-cantarell: 'Cantarell', sans-serif;
    --font-oleo-script: 'Oleo Script', cursive;
    --font-passion-one: 'Passion One', cursive;
    --font-press-start-2p: 'Press Start 2P', cursive;
    --font-francois-one: 'Francois One', sans-serif;
    --font-philosopher: 'Philosopher', sans-serif;
    --font-kaushan-script: 'Kaushan Script', cursive;
    --font-eater: 'Eater', cursive;
    --font-amaranth: 'Amaranth', sans-serif;
    --font-paytone-one: 'Paytone One', sans-serif;
    --font-golos-text: 'Golos Text', sans-serif;
    --font-epilogue: 'Epilogue', sans-serif;
    --font-fira-code: 'Fira Code', monospace;
    --font-patrick-hand: 'Patrick Hand', cursive;
    --font-antonio: 'Antonio', sans-serif;
    --font-berkshire-swash: 'Berkshire Swash', cursive;
    --font-forum: 'Forum', serif;
    --font-parisienne: 'Parisienne', cursive;
    --font-italianno: 'Italianno', cursive;
    --font-jura: 'Jura', sans-serif;
    --font-quantico: 'Quantico', sans-serif;
    --font-rock-salt: 'Rock Salt', cursive;
    --font-neuton: 'Neuton', serif;
    --font-tangerine: 'Tangerine', cursive;
    --font-fugaz-one: 'Fugaz One', sans-serif;
    --font-cookie: 'Cookie', cursive;
    --font-petrona: 'Petrona', serif;
    --font-gelasio: 'Gelasio', serif;
    --font-ultra: 'Ultra', serif;
    --font-alice: 'Alice', serif;
    --font-monda: 'Monda', sans-serif;
    --font-merienda: 'Merienda', cursive;
    --font-caveat-brush: 'Caveat Brush', cursive;
    --font-reenie-beanie: 'Reenie Beanie', cursive;
    --font-pinyon-script: 'Pinyon Script', cursive;
    --font-vidaloka: 'Vidaloka', serif;
    --font-share-tech-mono: 'Share Tech Mono', monospace;
    --font-cuprum: 'Cuprum', sans-serif;
    --font-belanosima: 'Belanosima', sans-serif;
    --font-pangolin: 'Pangolin', cursive;
    --font-goldman: 'Goldman', sans-serif;
    --font-gabarito: 'Gabarito', sans-serif;
    --font-bad-script: 'Bad Script', cursive;
    --font-sofia: 'Sofia', cursive;
    --font-michroma: 'Michroma', sans-serif;
    --font-ruda: 'Ruda', sans-serif;
    --font-tilt-warp: 'Tilt Warp', cursive;
    --font-yrsa: 'Yrsa', serif;
    --font-varela: 'Varela', sans-serif;
    --font-damion: 'Damion', cursive;
    --font-bevan: 'Bevan', serif;
    --font-shrikhand: 'Shrikhand', cursive;
    --font-mr-dafoe: 'Mr Dafoe', cursive;
    --font-marck-script: 'Marck Script', cursive;
    --font-cousine: 'Cousine', monospace;
    --font-chewy: 'Chewy', cursive;
    --font-besley: 'Besley', serif;
    --font-pirata-one: 'Pirata One', cursive;
    --font-caprasimo: 'Caprasimo', cursive;
    --font-adamina: 'Adamina', serif;
    --font-just-another-hand: 'Just Another Hand', cursive;
    --font-livvic: 'Livvic', sans-serif;
    --font-kreon: 'Kreon', serif;
    --font-coda: 'Coda', cursive;
    --font-armata: 'Armata', sans-serif;
    --font-italiana: 'Italiana', serif;
    --font-rochester: 'Rochester', cursive;
    --font-andika: 'Andika', sans-serif;
    --font-ovo: 'Ovo', serif;
    --font-fraunces: 'Fraunces', serif;
    --font-mogra: 'Mogra', cursive;
    --font-gruppo: 'Gruppo', sans-serif;
    --font-sen: 'Sen', sans-serif;
    --font-rufina: 'Rufina', serif;
    --font-grandstander: 'Grandstander', cursive;
    --font-allerta-stencil: 'Allerta Stencil', sans-serif;
    --font-glory: 'Glory', sans-serif;
    --font-overpass-mono: 'Overpass Mono', monospace;
    --font-aldrich: 'Aldrich', sans-serif;
    --font-candal: 'Candal', sans-serif;
    --font-limelight: 'Limelight', cursive;
    --font-protest-revolution: 'Protest Revolution', cursive;
    --font-corben: 'Corben', cursive;
    --font-cabin-sketch: 'Cabin Sketch', cursive;
    --font-murecho: 'Murecho', sans-serif;
    --font-fondamento: 'Fondamento', cursive;
    --font-sintony: 'Sintony', sans-serif;
    --font-caudex: 'Caudex', serif;
    --font-mate: 'Mate', serif;
    --font-nobile: 'Nobile', sans-serif;
    --font-silkscreen: 'Silkscreen', monospace;
    --font-unifraktur-maguntia: 'UnifrakturMaguntia', cursive;
    --font-share: 'Share', sans-serif;
    --font-graduate: 'Graduate', cursive;
    --font-herr-von-muellerhoff: 'Herr Von Muellerhoff', cursive;
    --font-bellefair: 'Bellefair', serif;
    --font-faster-one: 'Faster One', cursive;
    --font-grand-hotel: 'Grand Hotel', cursive;
    --font-suse: 'SUSE', sans-serif;
    --font-anton-sc: 'Anton SC', sans-serif;
    --font-oooh-baby: 'Oooh Baby', cursive;
    --font-knewave: 'Knewave', cursive;
    --font-petit-formal-script: 'Petit Formal Script', cursive;
    --font-hepta-slab: 'Hepta Slab', serif;
    --font-allerta: 'Allerta', sans-serif;
    --font-overlock: 'Overlock', cursive;
    --font-rem: 'REM', sans-serif;
    --font-croissant-one: 'Croissant One', cursive;
    --font-honk: 'Honk', cursive;
    --font-arizonia: 'Arizonia', cursive;
    --font-yesteryear: 'Yesteryear', cursive;
    --font-agbalumo: 'Agbalumo', cursive;
    --font-schoolbell: 'Schoolbell', cursive;
    --font-licorice: 'Licorice', cursive;
    --font-wallpoet: 'Wallpoet', cursive;
    --font-kristi: 'Kristi', cursive;
    --font-fjord-one: 'Fjord One', serif;
    --font-seaweed-script: 'Seaweed Script', cursive;
    --font-rancho: 'Rancho', cursive;
    --font-are-you-serious: 'Are You Serious', cursive;
    --font-bilbo: 'Bilbo', cursive;
    --font-ephesis: 'Ephesis', cursive;
    --font-festive: 'Festive', cursive;
    --font-hurricane: 'Hurricane', cursive;
    --font-kings: 'Kings', cursive;
    --font-lacquer: 'Lacquer', cursive;
    --font-my-soul: 'My Soul', cursive;
    --font-offside: 'Offside', sans-serif;
    --font-ole: 'Ole', cursive;
    --font-qwitcher-grypen: 'Qwitcher Grypen', cursive;
    --font-smooch: 'Smooch', cursive;
    --font-splash: 'Splash', cursive;
    --font-square-peg: 'Square Peg', cursive;
    --font-comforter: 'Comforter', cursive;
    --font-cormorant: 'Cormorant', serif;
    --font-dr-sugiyama: 'Dr Sugiyama', cursive;
    --font-grape-nuts: 'Grape Nuts', cursive;
    --font-grey-qo: 'Grey Qo', cursive;
    --font-meie-script: 'Meie Script', cursive;
    --font-molle: 'Molle', cursive;
    --font-nosifer: 'Nosifer', cursive;
    --font-nova-script: 'Nova Script', cursive;
    --font-oregano: 'Oregano', cursive;
    --font-pixelify-sans: 'Pixelify Sans', sans-serif;
    --font-agu-display: 'Agu Display', sans-serif;
    --font-bitcount: 'Bitcount', sans-serif;
    --font-bonbon: 'Bonbon', cursive;
    --font-bruno-ace: 'Bruno Ace', sans-serif;
    --font-capriola: 'Capriola', sans-serif;
    --font-lovers-quarrel: 'Lovers Quarrel', cursive;
    --font-playwrite-mx: 'Playwrite MX', cursive;
    --font-rubik-gemstones: 'Rubik Gemstones', cursive;
    --font-sarina: 'Sarina', cursive;
    --font-snowburst-one: 'Snowburst One', cursive;
    --font-waiting-for-the-sunrise: 'Waiting for the Sunrise', cursive;
    --font-boldonse: 'Boldonse', sans-serif;
    --font-bungee-shade: 'Bungee Shade', cursive;
    --font-bungee-tint: 'Bungee Tint', cursive;
    --font-coiny: 'Coiny', cursive;
    --font-farsan: 'Farsan', cursive;
    --font-ga-maamli: 'Ga Maamli', cursive;
    --font-give-you-glory: 'Give You Glory', cursive;
    --font-henny-penny: 'Henny Penny', cursive;
    --font-mynerve: 'Mynerve', cursive;
    --font-nerko-one: 'Nerko One', cursive;
    --font-short-stack: 'Short Stack', cursive;
    --font-twinkle-star: 'Twinkle Star', cursive;
    --font-bentham: 'Bentham', serif;
    --font-bitcount-ink: 'Bitcount Ink', sans-serif;
    --font-cutive-mono: 'Cutive Mono', monospace;
    --font-domine: 'Domine', serif;
    --font-foldit: 'Foldit', cursive;
    --font-lavishly-yours: 'Lavishly Yours', cursive;
    --font-moon-dance: 'Moon Dance', cursive;
    --font-mr-bedfort: 'Mr Bedfort', cursive;
    --font-nabla: 'Nabla', cursive;
    --font-rokkitt: 'Rokkitt', serif;
    --font-unkempt: 'Unkempt', cursive;
}