//Colors


$colors: (
    "text": rgb(61, 60, 60),
    "danger": rgb(230, 83, 83),
    "success": #28A745,
    "info": #17A2B8,
    "warning": #FFC107,
    "primary": #007BFF,
    "secondary": #6C757D,
    "pink" : #FF2D55,
    "purple": #AF52DE,
    "brown": rgb(167, 54, 54)
);

//Color Hues

$hues: (
 10: 0.1,
 20: 0.2,
 30: 0.3,
 40: 0.4,
 50: 0.5,
 60: 0.6,
 70: 0.7,
 80: 0.8,
 90: 0.9,
);



@each $name, $color in $colors{
    @each $numerical, $perc in $hues{
        .#{$name}-#{$numerical}{
            color: rgba($color,$perc);
        }
    }
}

@each $name, $color in $colors{
    .bg-#{$name}{
        background-color: $color;
    }
}

@each $name, $color in $colors{
    @each $numerical, $perc in $hues{
        .bg-#{$name}-#{$numerical}{
            background-color: rgba($color,$perc);
        }
    }
}


.text{
    color: rgb(61, 60, 60);
}


.danger{
    color: rgb(230, 83, 83);
}

.success{
    color: #28A745;
}

.info{
    color: #17A2B8;
}

.warning{
    color: #FFC107;
}

.primary{
    color:#007BFF;
}

.secondary{
    color: #6C757D;
}

.pink{
    color: #FF2D55;
}

.purple{
    color: #AF52DE;
}

.brown{
    color: rgb(167, 54, 54);
}

.rainbow {
  font-weight: bold;
  font-size: 2em;
  background: linear-gradient(90deg, red 0%, orange 16.66%, yellow 33.33%, green 50%, blue 66.66%, indigo 83.33%, violet 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: var(--offset) 10%;
  background-repeat: repeat;  
}


