@mixin generate($map, $prefix, $property) {
    @each $name, $value in $map {
        .#{$prefix}-#{$name} {
            #{$property}: $value;
        }
    }
}

@mixin generate_for($property,$prefix, $n, $quantity){
    @for $n from 0 through $n {
        .#{$prefix}-#{$n} {
            #{$property}: #{$n}#{$quantity};
        }
    }
}



//Visibility States

$visibility: (
    "seen": visible,
    "not-seen": hidden
);

//Displays

$display: (
    "flex": flex,
    "grid": grid,
    "block": block,
    "inline": inline,
    "inline-flex": inline-flex,
    "inline-block": inline-block,
    "flexbox": flexbox,
    "inline-flexbox": inline-flexbox,
    "disabled": none
);

//Positions

$positions: (
    "rel": relative,
    "abso": absolute,
    "fix": fixed,
    "constant": sticky,
    "stat": static
);

//Justify-Content

$justify: (
    "cent": center,
    "base": baseline,
    "right": right,
    "left": left,
    "end": end,
    "sp-around": space-around,
    "sp-between": space-between,
    "sp-even": space-evenly,
    "extend": stretch,
    "fbase":  first baseline,
    "lbase": last baseline,
    "flx-start": flex-start,
    "flx-end": flex-end,
    "normal": normal
);


//Justify-Items

$justify-items: (
  "start": start,
  "end": end,
  "cent": center,
  "extend": stretch,
  "normal": normal,
  "base": baseline,
  "fbase":  first baseline,
  "lbase": last baseline,
  "flx-start": flex-start,
  "flx-end": flex-end,
);

//Justify-Self

$justify-self: (
  "start": start,
  "end": end,
  "cent": center,
  "extend": stretch,
  "auto": auto,
  "base": baseline,
  "normal": normal,
  "fbase":  first baseline,
  "lbase": last baseline,
  "flx-start": flex-start,
  "flx-end": flex-end,
  "right": right,
  "left": left,
);

//Flex Direction


$flex-direction: (
    "col": column,
    "col-rev": column-reverse,
    "row": row,
    "row-rev": row-reverse
);

//Flex Wrap

$flex-wrap: (
    "wrap": wrap,
    "wrap-rev": wrap-reverse,
    "no-wrap": nowrap 
);



//overflows

$overflows: (
    "disabled": hidden,
    "auto": auto,
    "bar": scroll,
    "seen": visible
);

//object-fit

$object_fit: (
    "expand": fill,
    "fit": contain,
    "fill-area": cover,
    "disabled": none
);


@include generate($visibility, "vs", "visibility");
@include generate($display, "show", "display");
@include generate_for("gap", "space", 300, px); //Gaps
@include generate($positions, "pos", "position");
//Absolute Positions
@include generate_for("top", "top", 2000, px); 
@include generate_for("bottom", "bottom", 2000, px); 
@include generate_for("left", "left", 2000, px); 
@include generate_for("right", "right", 2000, px); 

@include generate($justify, "jc", "justify-content");
@include generate($justify-items, "ji", "justify-items");
@include generate($justify-self, "js", "justify-self");

@include generate($flex-direction, "flx-dir", "flex-direction");

@include generate($flex-wrap, "flx-wrap", "flex-wrap");

@include generate($justify-items, "vertical-set", "align-items"); //Align-Items
@include generate($justify-items, "vertical-self", "align-self"); //Align-Self
@include generate($justify, "vertical-content", "align-content"); //Align-Content

@include generate_for("opacity", "o", 100, "%"); //Opacity

@include generate($overflows, "ovf", "overflow"); // overflow
@include generate($overflows, "ovf-x", "overflow-x"); // overflow-x
@include generate($overflows, "ovf-y", "overflow-y"); // overflow-y

@include generate($object_fit, "obj-fit", "object-fit"); // object-fit


