@mixin generate_for($property,$prefix, $n){
    @for $n from 0 through $n {
        .#{$prefix}-#{$n} {
            #{$property}: #{$n} !important;
        }
    }
}


@include generate_for("z-index","z", 9999);